@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/common";
@import "./components/logo";

@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/advantages";
@import "./layouts/about";
@import "./components/socials";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";

// @import "./components/modal";

@import "./layouts/projects";