.backdrop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--transition-time) var(--transition-function);
}

.modal {
    padding: 40px;
    width: 450px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop {
        width: 528px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.close-btn {
    width: 30px;
    height: 30px;
    @extend %flex-centered;

    color: var(--black);
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;
    transition: color var(--transition-time) var(--transition-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &__icon {
        fill: currentColor;
    }
}


.form {
    &__call-to-action {
        margin-bottom: 12px;

        @include font(20px, 1.15, inherit, 700);
        text-align: center;
    }

    &__element {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        @include font(12px, 1.17, 0.01em, inherit);
    }

    &__label {
        margin-bottom: 4px;

        color: var(--second-primary-color);
    }

    &__input {
        padding-right: 12px;
        padding-left: 42px;
        height: 40px;
        width: 100%;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color var(--transition-time) var(--transition-function);

        .form__input-wrap:focus-within &, &:hover{
            outline: none;
            border-color: var(--accent-color);
            cursor: pointer;
        }

        &:hover +  .form__input-icon {
            fill: var(--accent-color);
        }
    }
    &__input-wrap {
        position: relative;
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        fill: currentColor;
        transition: fill var(--transition-time) var(--transition-function);

        .form__input-wrap:focus-within & {
            fill: var(--accent-color);
        }
    }

    &__element--comment {
        margin-bottom: 20px;
    }

    &__accept {
        @extend %flex-centered;
        margin-bottom: 30px;

        @include font(12px, 1.17, 0.03em, inherit);
        color: var(--second-primary-color);

        &:hover {
            cursor: pointer;
        }

        @include desktop {
            @include font(14px, 1.71, 0.03em, inherit);
        }
    }

    &__accept-link {
        color: var(--accent-color);
        text-decoration: underline;
    }
        
    &__btn {
        padding: 10px 52px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

input[type="textarea"] {
    height: 120px;
}

.textarea {
    height: 120px;
    padding: 12px 16px;
    resize: none;

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border-color: var(--accent-color);
    }
}

.custom-checkbox {
    display: flex;
    position: relative;
    margin-right: 8px;

    &__box {
        transition: fill var(--transition-time) var(--transition-function), background-color var(--transition-time) var(--transition-function);
    }
    
    &__tick {
        position: absolute;
        top: 0;
        left: 0;
        fill: transparent;
        transition: fill var(--transition-time) var(--transition-function);
    }

    &:hover &__box {
        fill: var(--accent-color);
    }

    .form__checkbox:checked+&>.custom-checkbox__box {
        fill: var(--accent-color);
        background-color: var(--accent-color);
        border-radius: 2px;
    }

    .form__checkbox:checked+&>.custom-checkbox__tick {
        fill: var(--white);
    }

    .form__checkbox:focus + &>.custom-checkbox__box {
        fill: var(--accent-color);
    }

}