body {
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--first-primary-color);
    background-color: var(--white);
}

.link {
    text-decoration: none;
    transition: color var(--transition-time) var(--transition-function);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

button {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.list {
    list-style: none;
    padding-left: 0px;
}

.is-hidden {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
    
    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
    }

    @include desktop {
        width: 1200px;
    }
}

section {
    padding-top: 60px;
    padding-bottom: 60px;

    &.other-paddings {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;

        &.other-paddings {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    }
}

.section-title {
    margin-bottom: 30px;
    @include font(28px, 1.18, inherit, 700);
    text-align: center;

    @include desktop {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 1.17;
    }    
}

.button {
    @include font(16px, 1.88, 0.06em, 700);
    text-align: center;
    font-family: inherit;

    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px var(--btn-shadow-color);
    background-color: var(--accent-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color var(--transition-time) var(--transition-function);

    &:hover, &:focus {
        background-color: var(--active-btn-color);
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
// not really common
.call-to-action {
    margin-bottom: 20px;

    @include font(inherit, 1.14, inherit, 700);
    text-transform: uppercase;

    color: var(--white);
}
