:root {
    --first-primary-color: #212121;
    --second-primary-color: #757575;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --black: #000000;
    --grey: rgba(255, 255, 255, 0.6);
    --secondary-background-color: #2F303A;
    --additional-background-color: #F5F4FA;
    --active-btn-color: #188CE8;
    --icon-color: #AFB1B8;
    --btn-shadow-color: rgba(0, 0, 0, 0.15);
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
}