.about {
    @media screen and (max-width: 1200px) {
        display: none;
    }
} 

.about__list {
    display: flex;

    & .about__item:not(:last-child) {
        margin-right: 30px;
    }
}

.sector {
    position: relative;

    &__wrap {
        @extend %flex-centered;
        width: 100%;
        height: 70px;

        background-color: rgba(47, 48, 58, 0.8);

        position: absolute;
        bottom: 0;
    }

    &__title {
        @include font(inherit, 1.14, inherit, 700);
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
    }
}