.advantages__list {
    display: flex;

    & .feature {
        width: calc((100% - 90px) / 4);
    }

    & .feature:not(:last-child) {
        margin-right: 30px;
    }
}

.feature {
    &__svg-wrap {
        @extend %flex-centered;
        margin-bottom: 30px;
        height: 120px;
        width: 270px;
        
        background-color: var(--additional-background-color);
        border-radius: 4px;
    }

    &__title {
        margin-bottom: 10px;
        @include font(inherit, 1.14, 0.03em, 700);
        text-transform: uppercase;
    }

    &__descr {
        line-height: 1.71;
        color: var(--second-primary-color)
    }
}
