.footer {
    background-color: var(--secondary-background-color);

    .container {
        display: flex;
        align-items: baseline;
        padding-top: 60px;
        padding-bottom: 60px;
    }
   
    .logo {
        display: block;
        margin-bottom: 20px;
        color: var(--white);
    }

    &__socials {
        margin-left: 70px;
    }

    & .socials__link {
        color: var(--white);
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.address {
    font-style: normal;

    &__list &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__link {
        line-height: 1.71;
        color: var(--grey);
        font-style: inherit;

        &--white {
            color: var(--white);
        }
    }
}

.subscription-form {
    margin-left: 93px;

    &__wrap {
        display: flex;
    }

    &__element {
        @include font(16px, 1.25, 0.03em, inherit);
    }

    &__input {
        width: 358px;
        height: 50px;
        padding: 15px 16px;

        color: var(--white);

        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        transition: border-color var(--transition-time) var(--transition-function);

        &:focus,
        &:hover {
            outline: none;
            border-color: var(--white);
            cursor: pointer;
        }
    }

    &__input::placeholder {
        color: var(--grey);
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 10px 28px;
        margin-left: 12px;
    }

    &__icon {
        margin-left: 10px;
        fill: currentColor;
    }
}