.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;

    & .logo {
        color: var(--black);

        @include tablet {
            margin-right: 88px;
        }
        
        @include desktop {
            margin-right: 92px;
        }
    }

    &>.container {
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__menu-icon {
        margin: 10px 0;
        @include tablet {
            display: none;
        }
    }

    @include tablet {
        @include font(inherit, 1.14, 0.02em, 500);
    }    
}

.menu, .contacts {
    @media screen and (max-width: 768px) {
        display: none;    
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    @extend %flex-centered;

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--first-primary-color);

        position: relative;

        &--current {
            color: var(--accent-color);
        }

        &--current::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;

            position: absolute;
            bottom: -1px;
        }
    }
}

.contacts {
    margin-left: auto;

    &__item + &__item {
        margin-top: 10px;

        @include desktop {
            margin-top: 0;
            margin-left: 50px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: var(--second-primary-color);

        @include desktop {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__icon {
        margin-right: 8px;
        fill: currentColor;

        @include desktop{
            margin-right: 10px;

            &--mail {
                width: 16px;
                height: 12px;
            }
            &--phone {
                width: 10px;
                height: 16px;
            }
        }

        @media screen and (max-width: 768px) {
            font-size: 12px;
            line-height: 1.17;       
        }
    }

    @include desktop {
        display: flex;
    }
}